current_workflow.json
{"updatedAt":"2026-01-23T18:51:41.238Z","createdAt":"2026-01-23T18:27:01.069Z","id":"YPhNu14uIWJ87ZaP","name":"RAG Documents - withmia-rzmpsq","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-withmia-rzmpsq-52b0927e","responseMode":"responseNode","options":[]},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"id":"webhook-upload","name":"Webhook Upload","webhookId":"072fe5f6-124e-40f0-98b2-a184e070be9f"},{"parameters":{"jsCode":"// Laravel ya extrajo el texto, solo preparamos los datos\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.txt';\nconst category = body.category || 'general';\nconst text = body.text || '';\nconst openaiApiKey = body.openai_api_key || '';\nconst qdrantHost = body.qdrant_host || 'https://qdrant-production-f4e7.up.railway.app';\nconst qdrantApiKey = body.qdrant_api_key || '';\n\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\nif (!text || text.length < 50) {\n  throw new Error('No se recibió texto válido del documento.');\n}\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    text: text,\n    text_length: text.length,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost,\n    qdrant_api_key: qdrantApiKey\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"id":"process-data","name":"Process Input Data"},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Processing started\", \"filename\": \"{{ $json.filename }}\", \"text_length\": {{ $json.text_length }}}"},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,160],"id":"respond-webhook","name":"Respond Immediately"},{"parameters":{"jsCode":"// Dividir texto en chunks - MÁXIMO 6000 chars (~1500 tokens) para embeddings\nconst text = $input.first().json.text || '';\nconst companySlug = $input.first().json.company_slug;\nconst filename = $input.first().json.filename;\nconst category = $input.first().json.category;\nconst collectionName = $input.first().json.collection_name;\nconst openaiApiKey = $input.first().json.openai_api_key;\nconst qdrantHost = $input.first().json.qdrant_host;\nconst qdrantApiKey = $input.first().json.qdrant_api_key;\n\nconst maxCharsPerChunk = 6000;\nconst chunks = [];\n\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  const paragraphs = text.split(/\\n\\n+/);\n  let currentChunk = '';\n  \n  for (const para of paragraphs) {\n    if (currentChunk.length + para.length > maxCharsPerChunk) {\n      if (currentChunk.trim()) {\n        chunks.push(currentChunk.trim());\n      }\n      currentChunk = para.length > maxCharsPerChunk ? para.substring(0, maxCharsPerChunk) : para;\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + para;\n    }\n  }\n  \n  if (currentChunk.trim()) {\n    chunks.push(currentChunk.trim());\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost,\n    qdrant_api_key: qdrantApiKey\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300],"id":"chunk-text","name":"Split into Chunks"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.openai_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"id":"generate-embeddings","name":"Generate Embeddings"},{"parameters":{"jsCode":"const item = $input.first();\nconst embedding = item.json.data[0].embedding;\nconst prevData = $('Split into Chunks').item.json;\n\n// ID ENTERO basado en timestamp + chunk_index\nconst timestamp = Date.now();\nconst chunkSuffix = prevData.chunk_index.toString().padStart(4, '0');\nconst pointId = parseInt(timestamp.toString() + chunkSuffix);\n\nreturn {\n  json: {\n    id: pointId,\n    vector: embedding,\n    payload: {\n      text: prevData.text,\n      filename: prevData.filename,\n      category: prevData.category,\n      company_slug: prevData.company_slug,\n      chunk_index: prevData.chunk_index,\n      total_chunks: prevData.total_chunks,\n      type: 'document',\n      updated_at: new Date().toISOString()\n    },\n    collection_name: prevData.collection_name,\n    qdrant_host: prevData.qdrant_host,\n    qdrant_api_key: prevData.qdrant_api_key\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300],"id":"prepare-qdrant","name":"Prepare for Qdrant"},{"parameters":{"method":"PUT","url":"={{ $json.qdrant_host }}/collections/{{ $json.collection_name }}/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"={{ $json.qdrant_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [{\n    \"id\": {{ $json.id }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}","options":[]},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"id":"store-qdrant","name":"Store in Qdrant"},{"parameters":{"method":"POST","url":"https://app.withmia.com/api/knowledge/chunk-stored","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"company_slug\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.company_slug) }},\n  \"filename\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.filename) }},\n  \"chunk_id\": {{ JSON.stringify(String($('Prepare for Qdrant').item.json.id)) }},\n  \"chunk_index\": {{ $('Prepare for Qdrant').item.json.payload.chunk_index }}\n}","options":[]},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300],"id":"notify-laravel","name":"Notify Laravel"}],"connections":{"Webhook Upload":{"main":[[{"node":"Process Input Data","type":"main","index":0}]]},"Process Input Data":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Split into Chunks","type":"main","index":0}]]},"Split into Chunks":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Generate Embeddings":{"main":[[{"node":"Prepare for Qdrant","type":"main","index":0}]]},"Prepare for Qdrant":{"main":[[{"node":"Store in Qdrant","type":"main","index":0}]]},"Store in Qdrant":{"main":[[{"node":"Notify Laravel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1c1e4966-f767-493c-a7d1-10c7a6e54e59","activeVersionId":"1c1e4966-f767-493c-a7d1-10c7a6e54e59","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-01-23T18:27:01.069Z","createdAt":"2026-01-23T18:27:01.069Z","role":"workflow:owner","workflowId":"YPhNu14uIWJ87ZaP","projectId":"JYZcwql470ya5ahw","project":{"updatedAt":"2026-01-23T13:17:28.954Z","createdAt":"2026-01-23T13:15:48.819Z","id":"JYZcwql470ya5ahw","name":"WITHMIA ADMIN <automatiza@withmia.com>","type":"personal","icon":null,"description":null,"creatorId":"076c9167-3e08-4d7d-a69d-b951f641bbdf","projectRelations":[{"updatedAt":"2026-01-23T13:15:48.819Z","createdAt":"2026-01-23T13:15:48.819Z","userId":"076c9167-3e08-4d7d-a69d-b951f641bbdf","projectId":"JYZcwql470ya5ahw","user":{"updatedAt":"2026-01-23T17:10:13.967Z","createdAt":"2026-01-23T13:15:46.853Z","id":"076c9167-3e08-4d7d-a69d-b951f641bbdf","email":"automatiza@withmia.com","firstName":"WITHMIA","lastName":"ADMIN","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-23T13:17:37.781Z","personalization_survey_n8n_version":"2.4.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"google"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"E3qXVMsiTo3O1DaL","userActivatedAt":1769188209831},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-23","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-23T18:51:41.245Z","createdAt":"2026-01-23T18:51:41.245Z","versionId":"1c1e4966-f767-493c-a7d1-10c7a6e54e59","workflowId":"YPhNu14uIWJ87ZaP","nodes":[{"parameters":{"httpMethod":"POST","path":"rag-withmia-rzmpsq-52b0927e","responseMode":"responseNode","options":[]},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"id":"webhook-upload","name":"Webhook Upload","webhookId":"072fe5f6-124e-40f0-98b2-a184e070be9f"},{"parameters":{"jsCode":"// Laravel ya extrajo el texto, solo preparamos los datos\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.txt';\nconst category = body.category || 'general';\nconst text = body.text || '';\nconst openaiApiKey = body.openai_api_key || '';\nconst qdrantHost = body.qdrant_host || 'https://qdrant-production-f4e7.up.railway.app';\nconst qdrantApiKey = body.qdrant_api_key || '';\n\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\nif (!text || text.length < 50) {\n  throw new Error('No se recibió texto válido del documento.');\n}\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    text: text,\n    text_length: text.length,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost,\n    qdrant_api_key: qdrantApiKey\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"id":"process-data","name":"Process Input Data"},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Processing started\", \"filename\": \"{{ $json.filename }}\", \"text_length\": {{ $json.text_length }}}"},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,160],"id":"respond-webhook","name":"Respond Immediately"},{"parameters":{"jsCode":"// Dividir texto en chunks - MÁXIMO 6000 chars (~1500 tokens) para embeddings\nconst text = $input.first().json.text || '';\nconst companySlug = $input.first().json.company_slug;\nconst filename = $input.first().json.filename;\nconst category = $input.first().json.category;\nconst collectionName = $input.first().json.collection_name;\nconst openaiApiKey = $input.first().json.openai_api_key;\nconst qdrantHost = $input.first().json.qdrant_host;\nconst qdrantApiKey = $input.first().json.qdrant_api_key;\n\nconst maxCharsPerChunk = 6000;\nconst chunks = [];\n\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  const paragraphs = text.split(/\\n\\n+/);\n  let currentChunk = '';\n  \n  for (const para of paragraphs) {\n    if (currentChunk.length + para.length > maxCharsPerChunk) {\n      if (currentChunk.trim()) {\n        chunks.push(currentChunk.trim());\n      }\n      currentChunk = para.length > maxCharsPerChunk ? para.substring(0, maxCharsPerChunk) : para;\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + para;\n    }\n  }\n  \n  if (currentChunk.trim()) {\n    chunks.push(currentChunk.trim());\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost,\n    qdrant_api_key: qdrantApiKey\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300],"id":"chunk-text","name":"Split into Chunks"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.openai_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}"},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,300],"id":"generate-embeddings","name":"Generate Embeddings"},{"parameters":{"jsCode":"const item = $input.first();\nconst embedding = item.json.data[0].embedding;\nconst prevData = $('Split into Chunks').item.json;\n\n// ID ENTERO basado en timestamp + chunk_index\nconst timestamp = Date.now();\nconst chunkSuffix = prevData.chunk_index.toString().padStart(4, '0');\nconst pointId = parseInt(timestamp.toString() + chunkSuffix);\n\nreturn {\n  json: {\n    id: pointId,\n    vector: embedding,\n    payload: {\n      text: prevData.text,\n      filename: prevData.filename,\n      category: prevData.category,\n      company_slug: prevData.company_slug,\n      chunk_index: prevData.chunk_index,\n      total_chunks: prevData.total_chunks,\n      type: 'document',\n      updated_at: new Date().toISOString()\n    },\n    collection_name: prevData.collection_name,\n    qdrant_host: prevData.qdrant_host,\n    qdrant_api_key: prevData.qdrant_api_key\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300],"id":"prepare-qdrant","name":"Prepare for Qdrant"},{"parameters":{"method":"PUT","url":"={{ $json.qdrant_host }}/collections/{{ $json.collection_name }}/points","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api-key","value":"={{ $json.qdrant_api_key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [{\n    \"id\": {{ $json.id }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}","options":[]},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"id":"store-qdrant","name":"Store in Qdrant"},{"parameters":{"method":"POST","url":"https://app.withmia.com/api/knowledge/chunk-stored","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"company_slug\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.company_slug) }},\n  \"filename\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.filename) }},\n  \"chunk_id\": {{ JSON.stringify(String($('Prepare for Qdrant').item.json.id)) }},\n  \"chunk_index\": {{ $('Prepare for Qdrant').item.json.payload.chunk_index }}\n}","options":[]},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,300],"id":"notify-laravel","name":"Notify Laravel"}],"connections":{"Webhook Upload":{"main":[[{"node":"Process Input Data","type":"main","index":0}]]},"Process Input Data":{"main":[[{"node":"Respond Immediately","type":"main","index":0},{"node":"Split into Chunks","type":"main","index":0}]]},"Split into Chunks":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Generate Embeddings":{"main":[[{"node":"Prepare for Qdrant","type":"main","index":0}]]},"Prepare for Qdrant":{"main":[[{"node":"Store in Qdrant","type":"main","index":0}]]},"Store in Qdrant":{"main":[[{"node":"Notify Laravel","type":"main","index":0}]]}},"authors":"WITHMIA ADMIN","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-23T18:51:41.392Z","id":20,"workflowId":"YPhNu14uIWJ87ZaP","versionId":"1c1e4966-f767-493c-a7d1-10c7a6e54e59","event":"activated","userId":"076c9167-3e08-4d7d-a69d-b951f641bbdf"},{"createdAt":"2026-01-23T18:51:42.147Z","id":21,"workflowId":"YPhNu14uIWJ87ZaP","versionId":"1c1e4966-f767-493c-a7d1-10c7a6e54e59","event":"activated","userId":"076c9167-3e08-4d7d-a69d-b951f641bbdf"}]}}
