temp_update_workflow.json
{
  "name": "RAG Documents - withmia-nbm6qp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-withmia-nbm6qp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-upload",
      "name": "Webhook Upload",
      "webhookId": "rag-documents-withmia"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del body\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.pdf';\nconst category = body.category || 'general';\nconst fileBase64 = body.file || '';\n\n// Limpiar el base64 (quitar data:... prefix si existe)\nlet cleanBase64 = fileBase64;\nif (cleanBase64.includes(',')) {\n  cleanBase64 = cleanBase64.split(',')[1];\n}\n\n// Crear nombre de colección\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\n// Decodificar base64 a texto\nconst fileContent = Buffer.from(cleanBase64, 'base64').toString('utf-8');\n\n// Retornar texto extraído\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    text: fileContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "process-base64",
      "name": "Decode Base64"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing started\", \"filename\": \"{{ $json.filename }}\"}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 160],
      "id": "respond-webhook",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "jsCode": "// Dividir texto en chunks - LIMITADO A ~6000 TOKENS (aprox 24000 caracteres)\nconst text = $input.first().json.text || '';\nconst companySlug = $input.first().json.company_slug;\nconst filename = $input.first().json.filename;\nconst category = $input.first().json.category;\nconst collectionName = $input.first().json.collection_name;\n\n// ~4 caracteres = 1 token aprox. Limite 8192 tokens\n// Usamos 6000 chars (~1500 tokens) para margen seguro\nconst maxCharsPerChunk = 6000;\nconst chunkOverlap = 500;\nconst chunks = [];\n\n// Si el texto es corto, no dividir\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  // Dividir por párrafos primero\n  const paragraphs = text.split(/\\n\\n+/);\n  let currentChunk = '';\n  \n  for (const para of paragraphs) {\n    // Si agregar este párrafo excede el límite\n    if (currentChunk.length + para.length > maxCharsPerChunk) {\n      // Guardar chunk actual si tiene contenido\n      if (currentChunk.trim()) {\n        chunks.push(currentChunk.trim());\n      }\n      \n      // Si el párrafo solo es muy largo, dividirlo por oraciones\n      if (para.length > maxCharsPerChunk) {\n        const sentences = para.split(/(?<=[.!?])\\s+/);\n        currentChunk = '';\n        for (const sentence of sentences) {\n          if (currentChunk.length + sentence.length > maxCharsPerChunk) {\n            if (currentChunk.trim()) chunks.push(currentChunk.trim());\n            // Si una sola oración es muy larga, dividir por caracteres\n            if (sentence.length > maxCharsPerChunk) {\n              for (let i = 0; i < sentence.length; i += maxCharsPerChunk - chunkOverlap) {\n                chunks.push(sentence.substring(i, i + maxCharsPerChunk));\n              }\n              currentChunk = '';\n            } else {\n              currentChunk = sentence;\n            }\n          } else {\n            currentChunk += (currentChunk ? ' ' : '') + sentence;\n          }\n        }\n      } else {\n        currentChunk = para;\n      }\n    } else {\n      currentChunk += (currentChunk ? '\\n\\n' : '') + para;\n    }\n  }\n  \n  // No olvidar el último chunk\n  if (currentChunk.trim()) {\n    chunks.push(currentChunk.trim());\n  }\n}\n\n// Retornar chunks como items separados\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "chunk-text",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "id": "generate-embeddings",
      "name": "Generate Embeddings"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst embedding = item.json.data[0].embedding;\nconst prevData = $('Split into Chunks').item.json;\n\n// Generar UUID v5 determinístico basado en filename + chunk_index\n// Esto permite upsert - si el documento se sube de nuevo, se actualiza en vez de duplicar\nfunction generateDeterministicUUID(str) {\n  // Simple hash to UUID v4 format\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    const char = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + char;\n    hash = hash & hash;\n  }\n  const hex = Math.abs(hash).toString(16).padStart(8, '0');\n  const hex2 = Math.abs(hash * 31).toString(16).padStart(8, '0');\n  const hex3 = Math.abs(hash * 17).toString(16).padStart(8, '0');\n  const hex4 = Math.abs(hash * 13).toString(16).padStart(12, '0');\n  return `${hex.slice(0,8)}-${hex2.slice(0,4)}-4${hex2.slice(5,8)}-a${hex3.slice(1,4)}-${hex4.slice(0,12)}`;\n}\n\n// ID único basado en company + filename + chunk_index\nconst uniqueKey = `${prevData.company_slug}-${prevData.filename}-${prevData.chunk_index}`;\nconst pointId = generateDeterministicUUID(uniqueKey);\n\nreturn {\n  json: {\n    id: pointId,\n    vector: embedding,\n    payload: {\n      text: prevData.text,\n      filename: prevData.filename,\n      category: prevData.category,\n      company_slug: prevData.company_slug,\n      chunk_index: prevData.chunk_index\n    },\n    collection_name: prevData.collection_name\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "id": "prepare-qdrant",
      "name": "Prepare for Qdrant"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.QDRANT_HOST || 'https://qdrant-production-549b.up.railway.app' }}/collections/{{ $json.collection_name }}/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": {{ JSON.stringify($json.id) }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "id": "store-qdrant",
      "name": "Store in Qdrant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.withmia.com/api/knowledge/chunk-stored",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_slug\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.company_slug) }},\n  \"filename\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.filename) }},\n  \"chunk_id\": {{ JSON.stringify($('Prepare for Qdrant').item.json.id) }},\n  \"chunk_index\": {{ $('Prepare for Qdrant').item.json.payload.chunk_index }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "id": "notify-laravel",
      "name": "Notify Laravel"
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {"node": "Decode Base64", "type": "main", "index": 0}
        ]
      ]
    },
    "Decode Base64": {
      "main": [
        [
          {"node": "Respond Immediately", "type": "main", "index": 0},
          {"node": "Split into Chunks", "type": "main", "index": 0}
        ]
      ]
    },
    "Split into Chunks": {
      "main": [
        [
          {"node": "Generate Embeddings", "type": "main", "index": 0}
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {"node": "Prepare for Qdrant", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare for Qdrant": {
      "main": [
        [
          {"node": "Store in Qdrant", "type": "main", "index": 0}
        ]
      ]
    },
    "Store in Qdrant": {
      "main": [
        [
          {"node": "Notify Laravel", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
