workflows/bbdd-mia-original.json
{
  "name": "BBDD MIA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zU_4QkJtMN5R1mseKciudgdjRxvYOOO_",
          "mode": "list",
          "cachedResultName": "0001 - MIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zU_4QkJtMN5R1mseKciudgdjRxvYOOO_"
        },
        "event": "fileUpdated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ],
      "id": "b2bcccd2-ee4e-4cb5-ba62-bc7deaad8db4",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "az7wlDIywnA4YPNl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1zU_4QkJtMN5R1mseKciudgdjRxvYOOO_",
          "mode": "list",
          "cachedResultName": "0001 - MIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1zU_4QkJtMN5R1mseKciudgdjRxvYOOO_"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -300,
        -180
      ],
      "id": "20141986-fa1b-4cd8-9709-d5fe74d42c1b",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "az7wlDIywnA4YPNl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "**ENTRADA DE CARGA DE DOCUMENTOS**",
        "height": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -360,
        -280
      ],
      "typeVersion": 1,
      "id": "d061110e-a26b-4548-9ded-91e36a75a511",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7e2f22d-2499-438d-be65-da8fe349c6e0",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "67e7fec2-ea4f-4e7f-ad1d-f0c425352bea",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -100
      ],
      "id": "fbc64a3d-ce01-47e5-b722-2e06df8d9a60",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "**EXTRAIGO NOMBRE E ID**",
        "height": 480,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        -280
      ],
      "typeVersion": 1,
      "id": "b3f64fa5-71c0-4faf-87d0-09510d252ba2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        360,
        -100
      ],
      "id": "c146da1a-9005-4695-bbba-a684207da6ad",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -100
      ],
      "id": "57a26f72-3a90-410a-9ce9-943fad98288d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "az7wlDIywnA4YPNl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "**DESCARGO EL ARCHIVO**",
        "height": 480,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -280
      ],
      "typeVersion": 1,
      "id": "6f78e88b-40d2-4d61-9a8b-3cff6361011b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**EXTRAIGO INFORMACIÓN**",
        "height": 480,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -280
      ],
      "typeVersion": 1,
      "id": "e2408848-3902-4f88-aa92-ca3f30da5936",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Te voy a pasar el nombre de un documento y tu objetivo es clasificarlo en las siguientes salidas con el formato que te\ndescribo.\n\nEl nombre del documento es el siguiente: {{ $('Edit Fields') .item.json.name }}\n\nDebes responder con una de las siguientes opciones que te describo a continuación entre comillas dobles (la salida debes\nhacerla sin comillas):\n\n\"historia\": si el nombre del documento hace referencia la historia de MIA.\n\"Producto\": si el nombre del documento hace referencia a los servicios que posee MIA.\n\"informacion\": si el nombre del documento hace referencia a la información sensible que puede ser del producto MIA o la empresa Scalex+... por lo general siempre será información si así lo dice el titulo\n\"desarrollo\": si el nombre del documento hace referencial a como está desarrollada MIA.\n\nTu salida siempre debe ser una de las opciones anteriores. Si no coincide, responde una salida vacía. Tu respuesta debe ir\nsin comillas dobles (\"\")"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        540,
        -100
      ],
      "id": "dc1a20ed-27da-4ac5-9aca-ae20867a03ea",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "AP4tNJvfxSXzEijM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "**CLASIFICA DE FORMA INTELIGENTE EL TIPO DE DOC.**",
        "height": 480,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -280
      ],
      "typeVersion": 1,
      "id": "b283fd4e-871b-4fe5-8c2b-e0e693204a5f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2740fc1c-c86f-40a5-9ef9-86f4d9dc93ea",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "historia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4ee37dc4-88ed-42a0-b4f1-8e9458dc39ed",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "producto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3cd23a5-b5ba-4175-ae71-666207dbba5a",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "desarrollo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "48aeff0b-6ea1-4040-ac50-29f1c7cf851a",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "informacion",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        -100
      ],
      "id": "6b0be338-16e5-4a4e-bb25-0fd966062de4",
      "name": "If"
    },
    {
      "parameters": {
        "content": "**RECLASIFICO PARA NO DUPLICAR**",
        "height": 480,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        -280
      ],
      "typeVersion": 1,
      "id": "2ac5894e-c40c-4e4c-9679-0231fa63e271",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**LLAMO A LA API DE QDRANT Y ELIMINO**",
        "height": 480,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        -280
      ],
      "typeVersion": 1,
      "id": "42ee7820-66d9-406d-9b4d-17e5f40bdc9d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        40
      ],
      "id": "f5ed13ce-25bb-4a10-a9e8-abcb47865014",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "overarching_theme",
              "description": "resume el tema o temas principales tratados en el documento"
            },
            {
              "name": "recurring_topics",
              "description": "enumera los temas recurrentes mencionados en el documento"
            },
            {
              "name": "pain_points",
              "description": "Resume las funciones mencionadas en el documento como una serie de arrays de String."
            },
            {
              "name": "analytical_insights",
              "description": "extrae una lista de observaciones analiticas clave del documento"
            },
            {
              "name": "conclusion",
              "description": "resume las conclusiones extraidas sobre el documento y su enfoque general"
            },
            {
              "name": "keywords",
              "description": "genera una lista de 10 palabras claves que capten la esencia del documento "
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Eres un experto en algoritmos de extracción.\nExtrae del texto sólo la información relevante.\nSi no conoces el valor de un atributo que se te pide extraer, puedes\nomitir el valor del atributo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        1340,
        -120
      ],
      "id": "d8f0353b-c131-4fa6-b6cc-12effcf2adf0",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1320,
        60
      ],
      "id": "c9c72830-11fa-4bff-9e4c-90b1f50ebacd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AP4tNJvfxSXzEijM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://b89e9ca0-2135-4618-9a16-cb852c6a5a59.europe-west3-0.gcp.cloud.qdrant.io:6333/collections/coleccion/points/delete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.5T3n9PFqJXpsOWohb6IIiHsCh93flRDU--_F0ubWTNY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": {\n        \"must\": [\n            {\n                \"key\": \"metadata.tipo\",\n                \"match\": { \"value\": \"{{ $json.message.content }}\" }\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        -120
      ],
      "id": "71c9d6b7-0d0d-4da0-9bc2-eb7a5cebec09",
      "name": "Eliminar documentos",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "**CLASIFICA DE FORMA INTELIGENTE LA INFORMACIÓN DEL DOC.**",
        "height": 480,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        -280
      ],
      "typeVersion": 1,
      "id": "422a9244-b3de-4e18-a630-0a7c129e4701",
      "name": "Sticky Note7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1500,
        320
      ],
      "id": "42ca08a2-3566-4fe0-8d8a-a670968c455c",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "**COMBINO DOS FUENTES DE INFORMACIÓN.**",
        "height": 280,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        220
      ],
      "typeVersion": 1,
      "id": "340160a7-0e06-4801-9605-0d0f751152b5",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "coleccion",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1700,
        320
      ],
      "id": "814dc4d7-5b14-4149-b36a-f3e924888e87",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "33mJZrxV0cPP2Bas",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "content": "**TROZA DATOS PARA INTEGRARLOS EN BBDD VECTORIAL.**",
        "height": 340,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        520
      ],
      "typeVersion": 1,
      "id": "f51b0d68-9b47-4ff6-b5a2-6dbf4570f6eb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1420,
        640
      ],
      "id": "b8b2b223-243f-4985-81de-6b8e65eb2bc1",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "q7tilsXKj3gYYgGa",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1700,
        560
      ],
      "id": "aafa0603-eb79-4de8-92d4-07ec1c57c70c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 400,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1660,
        700
      ],
      "id": "b1903ddc-532f-4742-9a01-f5abacabbc66",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "**BBDD VECTORIAL.**",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        220
      ],
      "typeVersion": 1,
      "id": "5170d3f6-417b-4418-a646-65af82790356",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1zU_4QkJtMN5R1mseKciudgdjRxvYOOO_"
          ],
          "lastModifyingUser": {
            "displayName": "Atlantis Producciones",
            "kind": "drive#user",
            "me": true,
            "permissionId": "12605567019453836548",
            "emailAddress": "atlantisproducciones13@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJckhyur5HBiLj1u_yzZoS_nZQNXuAvuFTIMMcXeiy3QZwUUifH=s64"
          },
          "owners": [
            {
              "displayName": "Atlantis Producciones",
              "kind": "drive#user",
              "me": true,
              "permissionId": "12605567019453836548",
              "emailAddress": "atlantisproducciones13@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJckhyur5HBiLj1u_yzZoS_nZQNXuAvuFTIMMcXeiy3QZwUUifH=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "anyoneWithLink",
              "type": "anyone",
              "role": "reader",
              "allowFileDiscovery": false
            },
            {
              "kind": "drive#permission",
              "id": "12605567019453836548",
              "type": "user",
              "emailAddress": "atlantisproducciones13@gmail.com",
              "role": "owner",
              "displayName": "Atlantis Producciones",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocJckhyur5HBiLj1u_yzZoS_nZQNXuAvuFTIMMcXeiy3QZwUUifH=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "anyoneWithLink",
            "12605567019453836548"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "kind": "drive#file",
          "id": "10vHz2L9AgiREuHwqxbUjnCnZuoy7ycco",
          "name": "INFORME FINAL.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "5",
          "webContentLink": "https://drive.google.com/uc?id=10vHz2L9AgiREuHwqxbUjnCnZuoy7ycco&export=download",
          "webViewLink": "https://drive.google.com/file/d/10vHz2L9AgiREuHwqxbUjnCnZuoy7ycco/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOb6VtWKJ91dTL_2xjLt2Z6XL2ql6SNbJoFIla8-fQCjcE-GStFo-MLNPugm9x1OzTU-LeqtyMRBoek458lCPAvQfYwq522NtAYjxsKx6NJ4DM=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-06-27T14:36:48.790Z",
          "createdTime": "2025-06-27T14:36:36.589Z",
          "modifiedTime": "2025-06-27T14:36:17.000Z",
          "modifiedByMeTime": "2025-06-27T14:36:17.000Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "INFORME FINAL.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "243f977b1552cad9a962e18badb198c7",
          "sha1Checksum": "3173a923ca352614a35632025d4b43a3099afd6d",
          "sha256Checksum": "5f575059eef05ce0f255fca549b29fef118ae8e9becea3c20cfc0c3599fdcd87",
          "size": "794631",
          "quotaBytesUsed": "794631",
          "headRevisionId": "0B8enoMqLL6Q6SlFUejhXZHF0YVZLREtUOWtQeFNQMXB2Z1pJPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Eliminar documentos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar documentos": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e710e45-0506-4864-8205-346e37acfb6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51c9606ceadd56efacc4a5ff186c0d4fa0aea5c8326db06c8218a5d8479c9f48"
  },
  "id": "w1Q2XfrNfwT6mLtP",
  "tags": []
}