workflows/chatwoot-bot-template-clean.json
{
    "name": "Chatwoot Bot - {{COMPANY_SLUG}}",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chatwoot-{{COMPANY_SLUG}}",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [-480, 300],
            "name": "Chatwoot Webhook"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.body.event }}",
                            "rightValue": "message_created",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "leftValue": "={{ $json.body.message_type }}",
                            "rightValue": "incoming",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        },
                        {
                            "leftValue": "={{ $json.body.private }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [-240, 300],
            "name": "Is Incoming Message?"
        },
        {
            "parameters": {
                "jsCode": "// Normalizar datos de Chatwoot - 100% dinámico\nconst body = $input.first().json.body;\n\n// Validar que tenemos los datos necesarios\nif (!body || !body.inbox) {\n  throw new Error('Invalid Chatwoot payload: missing inbox data');\n}\n\nconst senderPhone = body.sender?.phone_number || body.conversation?.meta?.sender?.phone_number || '';\n\nif (!senderPhone) {\n  throw new Error('Cannot process message: no sender phone number');\n}\n\nreturn [{\n  json: {\n    // Datos del mensaje\n    content: body.content || '',\n    messageId: body.id,\n    conversationId: body.conversation?.id,\n    \n    // Datos del sender\n    senderName: body.sender?.name || 'Cliente',\n    senderPhone: senderPhone,\n    senderId: body.sender?.id,\n    \n    // Datos del inbox - CLAVE para obtener config de empresa\n    inboxId: body.inbox?.id,\n    inboxName: body.inbox?.name || '',\n    \n    // Datos de cuenta Chatwoot\n    accountId: body.account?.id,\n    \n    // Timestamp\n    timestamp: body.created_at || new Date().toISOString()\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [0, 300],
            "name": "Normalize Chatwoot Data"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.content }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        },
                        {
                            "leftValue": "={{ $json.inboxName }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [240, 300],
            "name": "Has Content?"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{$json.inboxName.includes('http') ? $json.inboxName : '{{APP_URL}}/api/n8n/company-config-by-inbox/' + encodeURIComponent($json.inboxName)}}",
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [480, 300],
            "name": "Get Company Config"
        },
        {
            "parameters": {
                "jsCode": "// Validar que obtuvimos config de empresa - SIN FALLBACKS\nconst config = $input.first().json;\nconst messageData = $('Normalize Chatwoot Data').item.json;\n\n// Validaciones estrictas - si falta algo, ERROR\nif (!config || !config.company_slug) {\n  throw new Error(`No company config found for inbox: ${messageData.inboxName}`);\n}\n\nif (!config.evolution_instance) {\n  throw new Error(`Company ${config.company_slug} has no Evolution instance configured`);\n}\n\nif (!config.evolution_api_url || !config.evolution_api_key) {\n  throw new Error(`Company ${config.company_slug} has incomplete Evolution API config`);\n}\n\nif (!config.qdrant_collection) {\n  throw new Error(`Company ${config.company_slug} has no Qdrant collection configured`);\n}\n\n// Todo validado - pasar datos\nreturn [{\n  json: {\n    // Config de empresa (validada)\n    company_slug: config.company_slug,\n    company_name: config.company_name,\n    assistant_name: config.assistant_name || 'MIA',\n    ai_prompt: config.ai_prompt,\n    qdrant_collection: config.qdrant_collection,\n    \n    // Evolution API config (validada)\n    evolution_instance: config.evolution_instance,\n    evolution_api_url: config.evolution_api_url,\n    evolution_api_key: config.evolution_api_key,\n    \n    // Datos del mensaje\n    content: messageData.content,\n    senderName: messageData.senderName,\n    senderPhone: messageData.senderPhone,\n    conversationId: messageData.conversationId\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [720, 300],
            "name": "Validate Company Config"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Fecha: {{ $now.format('dd MMM. yyyy', 'es') }}\nNombre del usuario: {{ $json.senderName }}\nNúmero: {{ $json.senderPhone }}\n\nMensaje:\n{{ $json.content }}",
                "options": {
                    "systemMessage": "=Eres {{ $json.assistant_name }}, el asistente virtual de {{ $json.company_name }}.\n\n{{ $json.ai_prompt || 'Responde de forma clara, concisa y amigable.' }}\n\nINSTRUCCIONES:\n- Siempre respondes en base a tu base de conocimientos (Qdrant)\n- Respondes como si respondieras por WhatsApp: natural, cercano y directo\n- Máximo 2-3 oraciones por respuesta\n- Amigable y profesional\n- Si no sabes algo, ofrece conectar con un humano\n\nPROHIBICIONES:\n- NO te presentes dos veces en la conversación\n- NO uses markdown ni formato especial\n- NO respondas en bloques largos\n- NO uses puntos suspensivos (...)\n- NO uses asteriscos ni negritas"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [960, 300],
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [940, 520],
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "{{OPENAI_CREDENTIAL_ID}}",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "=company_{{ $json.company_slug }}_{{ $json.senderPhone }}",
                "contextWindowLength": 15
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [1080, 520],
            "name": "Window Memory"
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "=Herramienta para buscar información en la base de conocimientos de {{ $json.company_name }}. Usa esta herramienta para responder preguntas sobre productos, servicios, horarios, precios y cualquier información de la empresa.",
                "qdrantCollection": {
                    "__rl": true,
                    "value": "={{ $json.qdrant_collection }}",
                    "mode": "id"
                },
                "topK": 5,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1.3,
            "position": [1220, 520],
            "name": "Buscar en Base de Conocimientos",
            "credentials": {
                "qdrantApi": {
                    "id": "{{QDRANT_CREDENTIAL_ID}}",
                    "name": "Qdrant"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "text-embedding-3-small",
                    "mode": "list",
                    "cachedResultName": "text-embedding-3-small"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.1,
            "position": [1220, 680],
            "name": "OpenAI Embeddings",
            "credentials": {
                "openAiApi": {
                    "id": "{{OPENAI_CREDENTIAL_ID}}",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Procesar respuesta del AI - SIN FALLBACKS HARDCODEADOS\nconst input = $input.first().json;\nconst validatedData = $('Validate Company Config').item.json;\n\nlet responseText = input.output || 'Lo siento, no pude procesar tu mensaje. ¿Podrías intentarlo de nuevo?';\n\n// Limpiar respuesta para WhatsApp (quitar markdown)\nresponseText = responseText\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/`/g, '')\n  .replace(/\\.\\.\\.$/g, '')\n  .replace(/\\.\\.\\./g, '')\n  .trim();\n\nreturn {\n  json: {\n    response_text: responseText,\n    // Datos de empresa (ya validados, sin fallbacks)\n    company_slug: validatedData.company_slug,\n    evolution_instance: validatedData.evolution_instance,\n    evolution_api_url: validatedData.evolution_api_url,\n    evolution_api_key: validatedData.evolution_api_key,\n    // Datos del mensaje\n    phone: validatedData.senderPhone.replace(/[^0-9]/g, ''),\n    conversationId: validatedData.conversationId\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1180, 300],
            "name": "Process Response"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.evolution_api_url }}/message/sendText/{{ $json.evolution_instance }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.evolution_api_key }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": {{ JSON.stringify($json.phone) }},\n  \"text\": {{ JSON.stringify($json.response_text) }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1420, 300],
            "name": "Send WhatsApp Response"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "{{APP_URL}}/api/n8n/notify-response",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"company_slug\": {{ JSON.stringify($json.company_slug) }},\n  \"conversation_id\": {{ JSON.stringify($json.conversationId) }},\n  \"message\": {{ JSON.stringify($json.response_text) }},\n  \"phone\": {{ JSON.stringify($json.phone) }},\n  \"direction\": \"outgoing\"\n}",
                "options": {
                    "timeout": 5000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1660, 300],
            "name": "Notify Laravel (Reverb)"
        }
    ],
    "connections": {
        "Chatwoot Webhook": {
            "main": [
                [
                    {
                        "node": "Is Incoming Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Incoming Message?": {
            "main": [
                [
                    {
                        "node": "Normalize Chatwoot Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Chatwoot Data": {
            "main": [
                [
                    {
                        "node": "Has Content?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Content?": {
            "main": [
                [
                    {
                        "node": "Get Company Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Company Config": {
            "main": [
                [
                    {
                        "node": "Validate Company Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Company Config": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar en Base de Conocimientos": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Buscar en Base de Conocimientos",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Process Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Response": {
            "main": [
                [
                    {
                        "node": "Notify Laravel (Reverb)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/Santiago",
        "callerPolicy": "workflowsFromSameOwner"
    }
}
