workflows/rag-withmia-fixed.json
{
  "name": "RAG Documents - WITHMIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-withmia-nbm6qp-01af65b0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-upload",
      "name": "Webhook Upload",
      "webhookId": "rag-withmia-nbm6qp"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del body\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.pdf';\nconst category = body.category || 'general';\nconst fileBase64 = body.file || '';\nconst openaiApiKey = body.openai_api_key || '';\nconst qdrantHost = body.qdrant_host || 'https://qdrant-production-549b.up.railway.app';\n\n// Limpiar el base64 (quitar data:... prefix si existe)\nlet cleanBase64 = fileBase64;\nif (cleanBase64.includes(',')) {\n  cleanBase64 = cleanBase64.split(',')[1];\n}\n\n// Crear nombre de colección\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\n// Detectar tipo de archivo\nconst ext = filename.split('.').pop().toLowerCase();\nlet mimeType = 'application/octet-stream';\nif (ext === 'pdf') mimeType = 'application/pdf';\nelse if (ext === 'txt') mimeType = 'text/plain';\nelse if (ext === 'md') mimeType = 'text/markdown';\nelse if (ext === 'docx') mimeType = 'application/vnd.openxmlformats-officedocument.wordprocessingml.document';\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    file_base64: cleanBase64,\n    mime_type: mimeType,\n    file_extension: ext,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "process-input",
      "name": "Process Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing started with AI\", \"filename\": \"{{ $json.filename }}\", \"company\": \"WITHMIA\"}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 160],
      "id": "respond-webhook",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $json.openai_api_key }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un asistente experto en extracción de texto de documentos. Tu tarea es extraer TODO el texto del documento proporcionado de forma limpia y estructurada. Mantén la estructura del documento (títulos, párrafos, listas). NO resumas, extrae el texto COMPLETO. Si el documento está en base64, decodifícalo mentalmente. Responde SOLO con el texto extraído, sin comentarios adicionales.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extrae todo el texto de este documento {{ $json.filename }} (tipo: {{ $json.mime_type }}).\\n\\nContenido en base64:\\n{{ $json.file_base64.substring(0, 100000) }}\"\n    }\n  ],\n  \"max_tokens\": 16000,\n  \"temperature\": 0\n}",
        "options": {"timeout": 120000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "id": "ai-extract-text",
      "name": "AI Extract Text (GPT-4)"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el texto extraído por la IA\nconst aiResponse = $input.first().json;\nconst prevData = $('Process Input').first().json;\n\nlet extractedText = '';\n\ntry {\n  extractedText = aiResponse.choices[0].message.content || '';\n} catch (e) {\n  throw new Error('No se pudo obtener respuesta de la IA: ' + JSON.stringify(aiResponse));\n}\n\n// Limpiar el texto\nlet cleanText = extractedText\n  .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F-\\x9F]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Verificar que tenemos texto válido\nif (!cleanText || cleanText.length < 20) {\n  throw new Error('La IA no pudo extraer texto suficiente del documento.');\n}\n\nconsole.log(`Texto extraído por IA: ${cleanText.length} caracteres`);\n\nreturn {\n  json: {\n    company_slug: prevData.company_slug,\n    filename: prevData.filename,\n    category: prevData.category,\n    collection_name: prevData.collection_name,\n    text: cleanText,\n    text_length: cleanText.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "id": "process-ai-response",
      "name": "Process AI Response"
    },
    {
      "parameters": {
        "jsCode": "// Dividir texto en chunks optimizados para embeddings\nconst text = $input.first().json.text || '';\nconst companySlug = $input.first().json.company_slug;\nconst filename = $input.first().json.filename;\nconst category = $input.first().json.category;\nconst collectionName = $input.first().json.collection_name;\n\n// Tamaño óptimo para embeddings: ~1500 tokens = ~6000 caracteres\nconst maxCharsPerChunk = 6000;\nconst chunks = [];\n\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  // Dividir por párrafos\n  const paragraphs = text.split(/\\n\\n+|(?<=\\.)\\s+(?=[A-Z])/);\n  let currentChunk = '';\n  \n  for (const para of paragraphs) {\n    if (currentChunk.length + para.length > maxCharsPerChunk) {\n      if (currentChunk.trim()) {\n        chunks.push(currentChunk.trim());\n      }\n      currentChunk = para;\n    } else {\n      currentChunk += (currentChunk ? ' ' : '') + para;\n    }\n  }\n  \n  if (currentChunk.trim()) {\n    chunks.push(currentChunk.trim());\n  }\n}\n\nconsole.log(`Documento dividido en ${chunks.length} chunks`);\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "id": "chunk-text",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $(\"Process Input\").first().json.openai_api_key }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "id": "generate-embeddings",
      "name": "Generate Embeddings"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst embedding = item.json.data[0].embedding;\nconst prevData = $('Split into Chunks').item.json;\n\n// Generar UUID válido para Qdrant\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst uniqueId = generateUUID();\n\nreturn {\n  json: {\n    id: uniqueId,\n    vector: embedding,\n    payload: {\n      text: prevData.text,\n      filename: prevData.filename,\n      category: prevData.category,\n      company_slug: prevData.company_slug,\n      chunk_index: prevData.chunk_index,\n      total_chunks: prevData.total_chunks\n    },\n    collection_name: prevData.collection_name\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "id": "prepare-qdrant",
      "name": "Prepare for Qdrant"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $(\"Process Input\").first().json.qdrant_host }}/collections/{{ $json.collection_name }}/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": {{ JSON.stringify($json.id) }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}",
        "options": {"timeout": 30000}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "id": "store-qdrant",
      "name": "Store in Qdrant"
    }
  ],
  "connections": {
    "Webhook Upload": {"main": [[{"node": "Process Input", "type": "main", "index": 0}]]},
    "Process Input": {"main": [[{"node": "Respond Immediately", "type": "main", "index": 0}, {"node": "AI Extract Text (GPT-4)", "type": "main", "index": 0}]]},
    "AI Extract Text (GPT-4)": {"main": [[{"node": "Process AI Response", "type": "main", "index": 0}]]},
    "Process AI Response": {"main": [[{"node": "Split into Chunks", "type": "main", "index": 0}]]},
    "Split into Chunks": {"main": [[{"node": "Generate Embeddings", "type": "main", "index": 0}]]},
    "Generate Embeddings": {"main": [[{"node": "Prepare for Qdrant", "type": "main", "index": 0}]]},
    "Prepare for Qdrant": {"main": [[{"node": "Store in Qdrant", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
