workflows/rag-simple.json
{
  "name": "RAG Documents - Simple Text",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "documents-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-upload",
      "name": "Webhook Upload",
      "webhookId": "rag-docs-simple"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing started\", \"filename\": \"{{ $json.body.filename || $json.filename || 'document' }}\"}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 160],
      "id": "respond-webhook",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del body\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.pdf';\nconst category = body.category || 'general';\nconst fileBase64 = body.file || '';\n\n// Limpiar el base64\nlet cleanBase64 = fileBase64;\nif (cleanBase64.includes(',')) {\n  cleanBase64 = cleanBase64.split(',')[1];\n}\n\n// Crear nombre de colección\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\n// Decodificar base64 a texto\n// Para PDFs, extraemos el texto visible entre los streams\nlet extractedText = '';\n\ntry {\n  const binaryString = atob(cleanBase64);\n  \n  // Intentar extraer texto de PDF\n  if (filename.toLowerCase().endsWith('.pdf')) {\n    // Buscar texto entre paréntesis en el PDF (método simple)\n    const textMatches = binaryString.match(/\\(([^)]+)\\)/g) || [];\n    const textParts = textMatches.map(m => m.slice(1, -1)).filter(t => t.length > 2 && /[a-zA-Z]/.test(t));\n    \n    // También buscar texto en streams decodificados\n    const streamMatches = binaryString.match(/BT[\\s\\S]*?ET/g) || [];\n    for (const stream of streamMatches) {\n      const tjMatches = stream.match(/\\[([^\\]]+)\\]\\s*TJ/g) || [];\n      for (const tj of tjMatches) {\n        const parts = tj.match(/\\(([^)]+)\\)/g) || [];\n        textParts.push(...parts.map(p => p.slice(1, -1)));\n      }\n    }\n    \n    extractedText = textParts.join(' ').replace(/\\s+/g, ' ').trim();\n    \n    // Si no encontramos texto, puede ser un PDF escaneado\n    if (extractedText.length < 50) {\n      // Intentar obtener cualquier texto ASCII legible\n      extractedText = binaryString.replace(/[^\\x20-\\x7E\\n]/g, ' ').replace(/\\s+/g, ' ').trim();\n      // Filtrar solo partes que parezcan texto real\n      const words = extractedText.split(' ').filter(w => w.length > 3 && /^[a-zA-Z]+$/.test(w));\n      extractedText = words.join(' ');\n    }\n  } else {\n    // Para archivos de texto plano\n    extractedText = binaryString;\n  }\n} catch (e) {\n  // Si falla la decodificación, intentar como UTF-8\n  try {\n    const bytes = Uint8Array.from(atob(cleanBase64), c => c.charCodeAt(0));\n    extractedText = new TextDecoder('utf-8').decode(bytes);\n  } catch (e2) {\n    extractedText = '';\n  }\n}\n\n// Limpiar el texto extraído\nextractedText = extractedText\n  .replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!extractedText || extractedText.length < 20) {\n  throw new Error('No se pudo extraer texto del documento. El PDF puede ser una imagen escaneada o estar protegido. Texto encontrado: ' + extractedText.substring(0, 100));\n}\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    text: extractedText,\n    text_length: extractedText.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "extract-text",
      "name": "Extract Text from Base64"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text || '';\nconst companySlug = $input.first().json.company_slug;\nconst filename = $input.first().json.filename;\nconst category = $input.first().json.category;\nconst collectionName = $input.first().json.collection_name;\n\nconst maxCharsPerChunk = 20000;\nconst chunks = [];\n\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  for (let i = 0; i < text.length; i += maxCharsPerChunk - 500) {\n    chunks.push(text.substring(i, i + maxCharsPerChunk));\n  }\n}\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "chunk-text",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "id": "generate-embeddings",
      "name": "Generate Embeddings"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst embedding = item.json.data[0].embedding;\nconst prevData = $('Split into Chunks').item.json;\n\nreturn {\n  json: {\n    id: `${prevData.filename}-${prevData.chunk_index}-${Date.now()}`,\n    vector: embedding,\n    payload: {\n      text: prevData.text,\n      filename: prevData.filename,\n      category: prevData.category,\n      company_slug: prevData.company_slug,\n      chunk_index: prevData.chunk_index\n    },\n    collection_name: prevData.collection_name\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "id": "prepare-qdrant",
      "name": "Prepare for Qdrant"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.QDRANT_HOST || 'https://qdrant-production-549b.up.railway.app' }}/collections/{{ $json.collection_name }}/points",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": {{ JSON.stringify($json.id) }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "id": "store-qdrant",
      "name": "Store in Qdrant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.withmia.com/api/knowledge/chunk-stored",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_slug\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.company_slug) }},\n  \"filename\": {{ JSON.stringify($('Prepare for Qdrant').item.json.payload.filename) }},\n  \"chunk_id\": {{ JSON.stringify($('Prepare for Qdrant').item.json.id) }},\n  \"chunk_index\": {{ $('Prepare for Qdrant').item.json.payload.chunk_index }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "id": "notify-laravel",
      "name": "Notify Laravel"
    }
  ],
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {"node": "Respond Immediately", "type": "main", "index": 0},
          {"node": "Extract Text from Base64", "type": "main", "index": 0}
        ]
      ]
    },
    "Extract Text from Base64": {
      "main": [
        [{"node": "Split into Chunks", "type": "main", "index": 0}]
      ]
    },
    "Split into Chunks": {
      "main": [
        [{"node": "Generate Embeddings", "type": "main", "index": 0}]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [{"node": "Prepare for Qdrant", "type": "main", "index": 0}]
      ]
    },
    "Prepare for Qdrant": {
      "main": [
        [{"node": "Store in Qdrant", "type": "main", "index": 0}]
      ]
    },
    "Store in Qdrant": {
      "main": [
        [{"node": "Notify Laravel", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
