workflows/rag-text-processor.json
{
  "name": "RAG Text Processor - WITHMIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-process",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-text",
      "name": "Webhook Receive Text",
      "webhookId": "rag-text-withmia"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Processing started\", \"filename\": \"{{ $json.body.filename || $json.filename }}\"}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 160],
      "id": "respond-webhook",
      "name": "Respond Immediately"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from body - Laravel sends text already extracted\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst filename = body.filename || 'document.pdf';\nconst category = body.category || 'general';\nconst text = body.text || '';\nconst openaiApiKey = body.openai_api_key || '';\nconst qdrantHost = body.qdrant_host || 'https://qdrant-production-f4e7.up.railway.app';\n\n// Validate text\nif (!text || text.length < 50) {\n  throw new Error('No text provided or text too short');\n}\n\n// Create collection name\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    text: text,\n    text_length: text.length,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "prepare-data",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Chunking por longitud forzada - NO depende de \\n\\n\nconst input = $input.first().json;\nconst text = input.text || '';\nconst companySlug = input.company_slug;\nconst filename = input.filename;\nconst category = input.category;\nconst collectionName = input.collection_name;\nconst openaiApiKey = input.openai_api_key;\nconst qdrantHost = input.qdrant_host;\n\nconst maxCharsPerChunk = 5000;\nconst chunks = [];\n\nif (text.length <= maxCharsPerChunk) {\n  chunks.push(text);\n} else {\n  let remaining = text;\n  while (remaining.length > 0) {\n    if (remaining.length <= maxCharsPerChunk) {\n      chunks.push(remaining);\n      break;\n    }\n    let cutPoint = maxCharsPerChunk;\n    const searchStart = Math.max(0, maxCharsPerChunk - 500);\n    const searchZone = remaining.substring(searchStart, maxCharsPerChunk);\n    const lastPeriod = searchZone.lastIndexOf('. ');\n    const lastNewline = searchZone.lastIndexOf('\\n');\n    const lastSpace = searchZone.lastIndexOf(' ');\n    if (lastPeriod > 0) {\n      cutPoint = searchStart + lastPeriod + 1;\n    } else if (lastNewline > 0) {\n      cutPoint = searchStart + lastNewline + 1;\n    } else if (lastSpace > 0) {\n      cutPoint = searchStart + lastSpace + 1;\n    }\n    chunks.push(remaining.substring(0, cutPoint).trim());\n    remaining = remaining.substring(cutPoint).trim();\n  }\n}\n\nconsole.log('CHUNKING: ' + text.length + ' chars -> ' + chunks.length + ' chunks');\n\nreturn chunks.map((chunk, index) => ({\n  json: {\n    text: chunk,\n    chunk_index: index,\n    total_chunks: chunks.length,\n    company_slug: companySlug,\n    filename: filename,\n    category: category,\n    collection_name: collectionName,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "id": "chunk-text",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_api_key || $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300],
      "id": "generate-embeddings",
      "name": "Generate Embeddings"
    },
    {
      "parameters": {
        "jsCode": "// Process ALL items and prepare data for Qdrant AND Laravel notification\nconst results = [];\nconst items = $input.all();\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const embedding = item.json.data[0].embedding;\n  const prevData = $('Split into Chunks').all()[i].json;\n\n  // Generate UUID v4 for Qdrant (required format)\n  const uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n  results.push({\n    json: {\n      id: uuid,\n      vector: embedding,\n      payload: {\n        text: prevData.text,\n        filename: prevData.filename,\n        category: prevData.category,\n        company_slug: prevData.company_slug,\n        chunk_index: prevData.chunk_index,\n        total_chunks: prevData.total_chunks\n      },\n      collection_name: prevData.collection_name,\n      qdrant_host: prevData.qdrant_host,\n      // Add these for easy access in Notify Laravel\n      company_slug: prevData.company_slug,\n      filename: prevData.filename,\n      chunk_index: prevData.chunk_index,\n      total_chunks: prevData.total_chunks\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "id": "prepare-qdrant",
      "name": "Prepare for Qdrant"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.qdrant_host }}/collections/{{ $json.collection_name }}/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": {{ JSON.stringify($json.id) }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "id": "store-qdrant",
      "name": "Store in Qdrant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.withmia.com/api/knowledge/chunk-stored",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_slug\": {{ JSON.stringify($('Prepare for Qdrant').item.json.company_slug) }},\n  \"filename\": {{ JSON.stringify($('Prepare for Qdrant').item.json.filename) }},\n  \"chunk_id\": {{ JSON.stringify($('Prepare for Qdrant').item.json.id) }},\n  \"chunk_index\": {{ $('Prepare for Qdrant').item.json.chunk_index }},\n  \"total_chunks\": {{ $('Prepare for Qdrant').item.json.total_chunks }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "id": "notify-laravel",
      "name": "Notify Laravel"
    }
  ],
  "connections": {
    "Webhook Receive Text": {
      "main": [
        [
          {"node": "Respond Immediately", "type": "main", "index": 0},
          {"node": "Prepare Data", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {"node": "Split into Chunks", "type": "main", "index": 0}
        ]
      ]
    },
    "Split into Chunks": {
      "main": [
        [
          {"node": "Generate Embeddings", "type": "main", "index": 0}
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {"node": "Prepare for Qdrant", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare for Qdrant": {
      "main": [
        [
          {"node": "Store in Qdrant", "type": "main", "index": 0}
        ]
      ]
    },
    "Store in Qdrant": {
      "main": [
        [
          {"node": "Notify Laravel", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
