workflows/training-chat.json
{
  "name": "Training Chat - WITHMIA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "training-{{COMPANY_SLUG}}",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "id": "webhook-training",
      "name": "Webhook Training Chat",
      "webhookId": "training-chat"
    },
    {
      "parameters": {
        "jsCode": "// Extract training data from webhook\nconst body = $input.first().json.body || $input.first().json;\n\nconst companySlug = body.company_slug || 'default';\nconst assistantName = body.assistant_name || 'MIA';\nconst companyName = body.company_name || 'la empresa';\nconst userMessage = body.user_message || '';\nconst conversationHistory = body.conversation_history || [];\nconst openaiApiKey = body.openai_api_key || '';\nconst qdrantHost = body.qdrant_host || 'https://qdrant-production-f4e7.up.railway.app';\nconst timestamp = new Date().toISOString();\n\n// Create collection name\nconst collectionName = 'company_' + companySlug.replace(/[^a-z0-9_-]/gi, '_').toLowerCase() + '_knowledge';\n\n// Build system prompt for the training agent\nconst systemPrompt = `Eres ${assistantName}, el asistente de entrenamiento de ${companyName}.\n\nTu rol es:\n1. Ayudar al usuario a entrenar y mejorar el bot de la empresa\n2. Entender ejemplos de conversaciones que te den\n3. Aprender correcciones sobre cómo deberías responder\n4. Registrar información importante sobre la empresa y sus clientes\n\nCuando el usuario te de un ejemplo o corrección:\n- Confirma que lo has entendido\n- Muestra cómo responderías en esa situación\n- Pregunta si hay más ejemplos o información\n\nSé amigable, profesional y muestra que estás aprendiendo.`;\n\nreturn {\n  json: {\n    company_slug: companySlug,\n    assistant_name: assistantName,\n    company_name: companyName,\n    user_message: userMessage,\n    conversation_history: conversationHistory,\n    collection_name: collectionName,\n    openai_api_key: openaiApiKey,\n    qdrant_host: qdrantHost,\n    timestamp: timestamp,\n    system_prompt: systemPrompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "id": "prepare-training",
      "name": "Prepare Training Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.user_message) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "id": "embed-query",
      "name": "Embed User Query"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Qdrant search request\nconst prevData = $('Prepare Training Data').first().json;\nconst embedding = $input.first().json.data[0].embedding;\n\nreturn {\n  json: {\n    ...prevData,\n    query_vector: embedding\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "id": "prepare-search",
      "name": "Prepare Search"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.qdrant_host }}/collections/{{ $json.collection_name }}/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.query_vector) }},\n  \"limit\": 5,\n  \"with_payload\": true\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "id": "search-qdrant",
      "name": "Search Qdrant Context"
    },
    {
      "parameters": {
        "jsCode": "// Build context from Qdrant results and prepare OpenAI request\nconst prevData = $('Prepare Search').first().json;\nconst searchResults = $input.first().json.result || [];\n\n// Extract relevant context from search results\nlet contextText = '';\nif (searchResults && searchResults.length > 0) {\n  contextText = searchResults\n    .filter(r => r.score > 0.5)\n    .map(r => r.payload?.text || '')\n    .filter(t => t)\n    .join('\\n\\n---\\n\\n');\n}\n\nif (!contextText) {\n  contextText = 'Sin contexto previo en la base de conocimiento.';\n}\n\n// Build messages array for chat completion\nconst messages = [\n  {\n    role: 'system',\n    content: prevData.system_prompt + '\\n\\nCONTEXTO DE LA EMPRESA (información ya aprendida):\\n' + contextText\n  }\n];\n\n// Add conversation history if available\nif (prevData.conversation_history && prevData.conversation_history.length > 0) {\n  for (const msg of prevData.conversation_history.slice(-10)) {\n    messages.push({\n      role: msg.role || 'user',\n      content: msg.content || msg.message || ''\n    });\n  }\n}\n\n// Add current user message\nmessages.push({\n  role: 'user',\n  content: prevData.user_message\n});\n\nreturn {\n  json: {\n    ...prevData,\n    context_text: contextText,\n    messages: messages\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "id": "build-context",
      "name": "Build Context & Messages"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": {{ JSON.stringify($json.messages) }},\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "id": "call-openai",
      "name": "Call OpenAI Chat"
    },
    {
      "parameters": {
        "jsCode": "// Process AI response and decide if we should save\nconst prevData = $('Build Context & Messages').first().json;\nconst aiResponse = $input.first().json.choices[0].message.content || '';\n\n// Keywords that indicate this should be saved as knowledge\nconst saveKeywords = [\n  'ejemplo', 'así deberías', 'responde así', 'cuando pregunten',\n  'siempre', 'nunca', 'importante', 'recuerda', 'nuestro',\n  'nuestros', 'vendemos', 'ofrecemos', 'horario', 'precio',\n  'correcto', 'incorrecto', 'mejor', 'información', 'producto',\n  'servicio', 'cliente', 'empresa', 'política', 'procedimiento'\n];\n\nconst lowerMessage = prevData.user_message.toLowerCase();\nconst shouldSave = saveKeywords.some(kw => lowerMessage.includes(kw)) || prevData.user_message.length > 100;\n\n// Prepare text to save (if applicable)\nlet textToSave = '';\nif (shouldSave) {\n  textToSave = `EJEMPLO DE ENTRENAMIENTO\\n\\nUsuario: ${prevData.user_message}\\n\\nRespuesta del asistente: ${aiResponse}\\n\\nFecha: ${prevData.timestamp}`;\n}\n\nreturn {\n  json: {\n    response: aiResponse,\n    should_save: shouldSave,\n    text_to_save: textToSave,\n    company_slug: prevData.company_slug,\n    collection_name: prevData.collection_name,\n    openai_api_key: prevData.openai_api_key,\n    qdrant_host: prevData.qdrant_host\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "id": "process-response",
      "name": "Process Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "save-condition",
              "leftValue": "={{ $json.should_save }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1760, 300],
      "id": "should-save",
      "name": "Should Save?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"text-embedding-3-small\",\n  \"input\": {{ JSON.stringify($json.text_to_save) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 200],
      "id": "generate-embedding",
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "jsCode": "// Prepare point for Qdrant\nconst prevData = $('Process Response').first().json;\nconst embedding = $input.first().json.data[0].embedding;\n\n// Generate UUID v4\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nreturn {\n  json: {\n    id: uuid,\n    vector: embedding,\n    payload: {\n      text: prevData.text_to_save,\n      filename: 'training_examples.txt',\n      category: 'entrenamiento',\n      company_slug: prevData.company_slug,\n      chunk_index: 0,\n      total_chunks: 1\n    },\n    collection_name: prevData.collection_name,\n    qdrant_host: prevData.qdrant_host,\n    response: prevData.response\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 200],
      "id": "prepare-qdrant-point",
      "name": "Prepare Qdrant Point"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.qdrant_host }}/collections/{{ $json.collection_name }}/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": {{ JSON.stringify($json.id) }},\n    \"vector\": {{ JSON.stringify($json.vector) }},\n    \"payload\": {{ JSON.stringify($json.payload) }}\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 200],
      "id": "store-in-qdrant",
      "name": "Store in Qdrant"
    },
    {
      "parameters": {
        "jsCode": "// Return response (saved path)\nconst prevData = $('Prepare Qdrant Point').first().json;\nreturn {\n  json: {\n    response: prevData.response,\n    saved: true,\n    message: 'Guardado en la base de conocimiento'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200],
      "id": "return-saved",
      "name": "Return Saved Response"
    },
    {
      "parameters": {
        "jsCode": "// Return response (not saved path)\nconst prevData = $('Process Response').first().json;\nreturn {\n  json: {\n    response: prevData.response,\n    saved: false\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 400],
      "id": "return-not-saved",
      "name": "Return Not Saved Response"
    }
  ],
  "connections": {
    "Webhook Training Chat": {
      "main": [
        [
          {"node": "Prepare Training Data", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare Training Data": {
      "main": [
        [
          {"node": "Embed User Query", "type": "main", "index": 0}
        ]
      ]
    },
    "Embed User Query": {
      "main": [
        [
          {"node": "Prepare Search", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare Search": {
      "main": [
        [
          {"node": "Search Qdrant Context", "type": "main", "index": 0}
        ]
      ]
    },
    "Search Qdrant Context": {
      "main": [
        [
          {"node": "Build Context & Messages", "type": "main", "index": 0}
        ]
      ]
    },
    "Build Context & Messages": {
      "main": [
        [
          {"node": "Call OpenAI Chat", "type": "main", "index": 0}
        ]
      ]
    },
    "Call OpenAI Chat": {
      "main": [
        [
          {"node": "Process Response", "type": "main", "index": 0}
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {"node": "Should Save?", "type": "main", "index": 0}
        ]
      ]
    },
    "Should Save?": {
      "main": [
        [
          {"node": "Generate Embedding", "type": "main", "index": 0}
        ],
        [
          {"node": "Return Not Saved Response", "type": "main", "index": 0}
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {"node": "Prepare Qdrant Point", "type": "main", "index": 0}
        ]
      ]
    },
    "Prepare Qdrant Point": {
      "main": [
        [
          {"node": "Store in Qdrant", "type": "main", "index": 0}
        ]
      ]
    },
    "Store in Qdrant": {
      "main": [
        [
          {"node": "Return Saved Response", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "withmia-training"
  },
  "pinData": {},
  "notes": "Workflow para entrenamiento del bot via chat. Usa HTTP Request nodes sin credenciales hardcodeadas. El usuario puede dar ejemplos, correcciones e información que se guarda en Qdrant."
}
