workflows/whatsapp-bot-template.json
{
    "name": "WhatsApp Bot - {{COMPANY_SLUG}}",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-{{COMPANY_SLUG}}",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [-480, 300],
            "id": "webhook-whatsapp",
            "name": "Evolution API Webhook",
            "webhookId": "whatsapp-{{COMPANY_SLUG}}"
        },
        {
            "parameters": {
                "method": "GET",
                "url": "{{APP_URL}}/api/n8n/company-config/{{COMPANY_SLUG}}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [-280, 300],
            "id": "get-company-config",
            "name": "Get Company Config"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "instance-server-url",
                            "name": "instance.server_url",
                            "value": "={{ $('Evolution API Webhook').item.json.body.server_url }}",
                            "type": "string"
                        },
                        {
                            "id": "instance-name",
                            "name": "instance.name",
                            "value": "={{ $('Evolution API Webhook').item.json.body.instance }}",
                            "type": "string"
                        },
                        {
                            "id": "instance-apikey",
                            "name": "instance.apikey",
                            "value": "={{ $('Evolution API Webhook').item.json.body.apikey }}",
                            "type": "string"
                        },
                        {
                            "id": "message-chat-id",
                            "name": "message.chat_id",
                            "value": "={{ $('Evolution API Webhook').item.json.body.data.key?.remoteJid || $('Evolution API Webhook').item.json.body.data.remoteJid || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "message-content",
                            "name": "message.content",
                            "value": "={{ $('Evolution API Webhook').item.json.body.data.message.extendedTextMessage?.text || $('Evolution API Webhook').item.json.body.data.message.imageMessage?.caption || $('Evolution API Webhook').item.json.body.data.message.conversation || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "message-content-type",
                            "name": "message.content_type",
                            "value": "={{ $('Evolution API Webhook').item.json.body.data.message.extendedTextMessage ? 'text' : ($('Evolution API Webhook').item.json.body.data.message.conversation ? 'text' : ($('Evolution API Webhook').item.json.body.data.message.audioMessage ? 'audio' : ($('Evolution API Webhook').item.json.body.data.message.imageMessage ? 'image' : 'other'))) }}",
                            "type": "string"
                        },
                        {
                            "id": "user-name",
                            "name": "user.name",
                            "value": "={{ $('Evolution API Webhook').item.json.body.data.pushName || 'Usuario' }}",
                            "type": "string"
                        },
                        {
                            "id": "config-assistant-name",
                            "name": "config.assistant_name",
                            "value": "={{ $json.assistant_name || 'MIA' }}",
                            "type": "string"
                        },
                        {
                            "id": "config-company-name",
                            "name": "config.company_name",
                            "value": "={{ $json.company_name || '{{COMPANY_NAME}}' }}",
                            "type": "string"
                        },
                        {
                            "id": "config-collection-name",
                            "name": "config.collection_name",
                            "value": "={{ $json.collection_name || 'company_{{COMPANY_SLUG}}_knowledge' }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [-80, 300],
            "id": "normalize-data",
            "name": "Normalize Data"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "check-from-me",
                            "leftValue": "={{ $('Evolution API Webhook').item.json.body.data.key?.fromMe }}",
                            "rightValue": false,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [140, 300],
            "id": "check-sender",
            "name": "Is From User?"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Fecha: {{ $now.format('dd MMM. yyyy', 'es') }}\nNombre del usuario: {{ $('Normalize Data').item.json.user.name }}\nNúmero: {{ $('Normalize Data').item.json.message.chat_id }}\nTipo de mensaje: {{ $('Normalize Data').item.json.message.content_type }}\n\nMensaje:\n{{ $('Normalize Data').item.json.message.content }}",
                "options": {
                    "systemMessage": "=Eres {{ $('Normalize Data').item.json.config.assistant_name }}, el asistente virtual de {{ $('Normalize Data').item.json.config.company_name }}.\n\nINSTRUCCIONES:\n- Siempre respondes en base a QDRANT (tu base de conocimientos) y tus Herramientas\n- Si no tienes herramientas, solo respondes en base a la colección de QDRANT\n- Respondes como si respondieras por redes sociales: natural, cercano y directo\n- Máximo 2-3 oraciones por respuesta\n- Amigable y profesional\n- Si no sabes algo, ofrece conectar con un humano\n\nPROHIBICIONES:\n- NO te presentes dos veces en la conversación\n- NO uses markdown ni formato especial\n- NO respondas en bloques largos\n- NO uses puntos suspensivos (...)\n- NO uses asteriscos ni negritas"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [360, 300],
            "id": "ai-agent",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [340, 520],
            "id": "openai-chat-model",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "{{N8N_OPENAI_CREDENTIAL_ID}}",
                    "name": "{{N8N_OPENAI_CREDENTIAL_NAME}}"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "=company_{{COMPANY_SLUG}}_{{ $('Normalize Data').item.json.message.chat_id }}",
                "contextWindowLength": 15
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [480, 520],
            "id": "memory-buffer",
            "name": "Window Memory"
        },
        {
            "parameters": {
                "mode": "retrieve-as-tool",
                "toolDescription": "=Herramienta para buscar información en la base de conocimientos de {{ $('Normalize Data').item.json.config.company_name }}. Usa esta herramienta para responder preguntas sobre productos, servicios, horarios, precios y cualquier información de la empresa.",
                "qdrantCollection": {
                    "__rl": true,
                    "value": "={{ $('Normalize Data').item.json.config.collection_name }}",
                    "mode": "id"
                },
                "topK": 5,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
            "typeVersion": 1.3,
            "position": [620, 520],
            "id": "qdrant-tool",
            "name": "Buscar en Base de Conocimientos",
            "credentials": {
                "qdrantApi": {
                    "id": "{{N8N_QDRANT_CREDENTIAL_ID}}",
                    "name": "{{N8N_QDRANT_CREDENTIAL_NAME}}"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "text-embedding-3-small",
                    "mode": "list",
                    "cachedResultName": "text-embedding-3-small"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.1,
            "position": [620, 680],
            "id": "openai-embeddings",
            "name": "OpenAI Embeddings",
            "credentials": {
                "openAiApi": {
                    "id": "{{N8N_OPENAI_CREDENTIAL_ID}}",
                    "name": "{{N8N_OPENAI_CREDENTIAL_NAME}}"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract response and clean for WhatsApp\nconst input = $input.first().json;\nconst normalizeData = $('Normalize Data').item.json;\n\nlet responseText = input.output || 'Lo siento, no pude procesar tu mensaje. ¿Podrías intentarlo de nuevo?';\n\n// Clean response for WhatsApp (remove markdown)\nresponseText = responseText\n  .replace(/\\*\\*/g, '')\n  .replace(/\\*/g, '')\n  .replace(/```[\\s\\S]*?```/g, '')\n  .replace(/`/g, '')\n  .replace(/\\.\\.\\.$/g, '')\n  .replace(/\\.\\.\\./g, '')\n  .trim();\n\nreturn {\n  json: {\n    response_text: responseText,\n    instance: normalizeData.instance,\n    message: normalizeData.message\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [580, 300],
            "id": "process-response",
            "name": "Process Response"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $json.instance.server_url }}/message/sendText/{{ $json.instance.name }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.instance.apikey }}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": {{ JSON.stringify($json.message.chat_id) }},\n  \"text\": {{ JSON.stringify($json.response_text) }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [800, 300],
            "id": "send-response",
            "name": "Send WhatsApp Response"
        }
    ],
    "connections": {
        "Evolution API Webhook": {
            "main": [
                [
                    {
                        "node": "Get Company Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Company Config": {
            "main": [
                [
                    {
                        "node": "Normalize Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalize Data": {
            "main": [
                [
                    {
                        "node": "Is From User?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is From User?": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar en Base de Conocimientos": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Embeddings": {
            "ai_embedding": [
                [
                    {
                        "node": "Buscar en Base de Conocimientos",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Process Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "timezone": "America/Santiago",
        "callerPolicy": "workflowsFromSameOwner"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}
